@import "tailwindcss";

@theme {
  --font-oswald: var(--font-oswald);
  --font-inter: var(--font-inter);
}

body {
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-oswald), sans-serif;
}
